.heading {
  font-size: 1.5rem !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
  font-family: "Roboto", sans-serif;
}

.textField {
  width: 500px !important;
  margin-bottom: 10px !important;
}

.cancelButton {
  color: red !important;
}

.subHeading {
  color: black !important;
}
